---
layout: base.njk
title: Health
---

<h2>Health</h2>
<ul>
{% set items = collections.health %}
{% for item in items %}
<li>
  <a href="{{ item.url }}"><strong>{{ item.data.title }}</strong></a>
  <div class="meta">{{ item.date }} • {{ item.data.source }}</div>
</li>
{% endfor %}
</ul>
