---
layout: base.njk
title: Sports
---

<h2>Sports</h2>
<ul>
{% set items = collections.sports %}
{% for item in items %}
<li>
  <a href="{{ item.url }}"><strong>{{ item.data.title }}</strong></a>
  <div class="meta">{{ item.date | readableDate }} • {{ item.data.source }}</div>
</li>
{% endfor %}
</ul>
